.call{
    display: none;
}
.header-menu{
    margin-right: 0;
}
.header-menu__item:not(:last-child){
    width: 128px;
}
.select{
    margin-left: 0;
    margin-right: 0;
}
#slider-container{
    display: none;
}
.header:after{
    display: none;
}
.head-products{
    padding: 0;
}

.products__img{
    width: 100%;
}
.product-item__button{
    right: 17%;
}
.products__wrap-head::before,
.products__wrap-head::after{
    display: none;
}
.footer__menu{
    flex-basis: 99%;
}
.footer__block_tab{
    margin: 0 auto;
    margin-bottom: 15px;
}