/* Reset the browser default CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ==================== General Style ==================== */
/* добиваемся, чтобы body, html были на весь экран */
body,html{
    width: 100%;
    height: 100%;
}

/* set all elements to include border and padding in their width and height */
*{
    box-sizing: border-box; /* width: 200px и border: 2px преобразует width в 200px, а не 204px : 200px(width) + 4px(left border + right border) */
    user-select: none; /* чтобы элемент не мог быть выбран */
}

/* элементы по центру */
.center_y{
    position: relative;
    top: 50%;
    transform:translateY(-50%);
}

.center_x{
    position: relative;
    left: 50%;
    transform:translateX(-50%);
}


/* ==================== Slider Style ==================== */
#slider-container{
    width: 100%;
    height: 106vh;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 66px;
}

.slide{
    height: 100%;
    width: 100%;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide{
    position: absolute;
}


#dots-wrapper{
    display: flex;
    position: absolute;
    bottom: 30px;
}

/* стили для точек */
.dot-navigation{
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    cursor: pointer;
    margin: 0 8px;
    background-color: #b2b2b2;
    transition: .5s background-color;
}

.dot-navigation:hover{
    background-color: #d6d6d6;
}

/* стиль для активной точки */
.active-dot{
    background-color: #000;
}

/* анимация */
.fade {
    animation-name: fade;
    animation-duration: .5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
